<main>
    <section class="expense-report">

        <h1>{{courseId}}}}</h1>
        <div class="report-date">
            <img src="static/images/date.png" alt="">
            <p>{{createdAt}}</p>
        </div>

        <div class="report-category">
            <img src="static/images/amount.png" alt="">
            <p>{{category}}</p>
        </div>

        <div class="report-merchant">
            <p>{{merchant}}</p>
        </div>

        <div class="report-description">
            <img src="static/images/hastag.png" alt="">
            <p>{{description}}</p>
        </div>

        <div class="report-action">
            <a disabled href="/delete">Stop tracking</a>
        </div>
    </section>
</main>